<div class="container">

<h2>Meus Heroes</h2>
<!--
<ul class="heroes">
    <li *ngFor="let hero of heroes" class="list-group-item list-group-item-action list-group-item-dark">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
        <button type="button" class="delete" title="delete hero" (click)="delete(hero)">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </li>
</ul>
-->
<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">Id</th>
            <th scope="col">Alias do Heroe</th>
            <th scope="col">Power</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let he of listOfHeroes">
            <th scope="row" >{{he.id}}</th>
            <td>{{he.name}}</td>
            <td>{{he.power.power}}</td>
            <td>
                <a routerLink="/detail/{{he.id}}" class="edit">
                    <i class="fa-solid fa-user-pen"></i>
                </a>
                <button type="button" class="delete" title="delete hero" (click)="delete2(he)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    </tbody>

</table>
<!--
    <label for="new-hero-name">Nome Heroe:</label>
    <input id="new-hero-name" #heroName/>
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add Heroe
    </button>
-->
</div>

